<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" id="confirm-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title" id="myModalLabel">Confirmation</h6>
            </div>
            <p class="confirm-content text-center">Are you sure to remove this?</p>
            <div class="modal-footer center-block">
                <button type="button" class="btn btn-default" id="modal-btn-no">No</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Yes</button>
            </div>
        </div>
    </div>
</div>