<footer>
    <div class="container">
        <div class="footer-top">
            <div class="col-sm-4 amet-sed">
                <h4>navigation</h4>
                <ul class="nav-bottom">
                    <li class="active" ><a href="{{ rootpath }}home" >HOME</a> </li>
                    <li><a href="{{ rootpath }}recipes" data-hover="PANTIES" >FIND RECIPES</a></li>
                    <li><a href="{{ rootpath }}restaurant/map" data-hover="NEARBY RESTAURANTS"> NEARBY RESTAURANTS </a></li>
                    <li><a href="{{ rootpath }}home/aboutus" data-hover="ABOUT US"> ABOUT US</a></li>
                </ul>
            </div>
            <div class="col-sm-4 amet-sed ">
                <h4>get in touch</h4>

                <ul class="nav-bottom">
                    <li  ><a href="contact.html" >CONTACT US</a> </li>
                    <li><a href="#" >PRIVACY POLICY</a></li>
                    <li><a href="#">TERMS &amp; CONDITIONS </a></li>
                </ul>
                <p>Email: <a href="mailto:s4456054@student.uq.edu.au">s4456054@student.uq.edu.au</a></p>
            </div>
            <div class="col-sm-4 amet-sed ">
                <h4>share this page</h4>
                <ul class="social-in msg-social">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
                <p>follow us on facebook:<a href="https://www.facebook.com/li.charles.509" target="_blank">@Charles Lee</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <p class="footer-class text-center">Copyright &copy; 2017.Cooking World All rights reserved.</p>
    </div>
</footer>