<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="This page is used for create a personal recipe."/>
    {% include "default_head_resource.html" with {"rootpath": rootpath, "resourcePath":resourcePath} %}
    <!--Loading custom CSS-->\
    <link rel="stylesheet" href="{{rootPath}}/public/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{rootPath}}/public/css/sortableListView.css" type="text/css"/>
    <link rel="stylesheet" href="{{rootPath}}/public/css/dragImageBox.css" type="text/css"/>
    <link rel="stylesheet" href="{{rootPath}}/public/css/addPhotoBox.css" type="text/css"/>
    <title>Create Recipe</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="create-left-bar col-sm-3">
                <div class="add-photo-box create-main-upload-box">
                    <img src="" class="img-rounded display-img">
                    <img src="{{resourcePath}}/images/ic_camera_128px.png" class="img-rounded icon-camera">
                    <div class="add-photo-btn btn btn-primary">Add a photo</div>
                    <div class="change-photo-btn"><i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div class="delete-photo-btn"><i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="recipe-name"><strong>Recipe Name</strong></label>
                            <input id="recipe-name" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="category"><strong>Category</strong></label>
                            <input id="category" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="time"><strong>Time(minutes)</strong></label>
                            <input id="time" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="number-of-servings"><strong>Number of Servings</strong></label>
                            <input id="number-of-servings" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 create-form-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <strong>Description</strong>
                        <div class="form-group">
                            <textarea title="description" style="margin-top: 8px" id="description" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row ingredients">
                    <div class="col-sm-offset-1 col-sm-10">
                        <strong>Ingredients</strong>
                        <div class="row ingredient-labels">
                            <div class="col-sm-4">
                                <p>Quantity</p>
                            </div>
                            <div class="col-sm-8">
                                <p>Ingredient Name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="ingre-items sortable-list">
                            <div class="item sortable-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input title="ingredient quantity" type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <input title="ingredient name" type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-1 sortable-btns">
                                        <div class="drag-btn sortable-btn">
                                            <i class="fa fa-arrows" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row directions">
                    <div class="col-sm-offset-1 col-sm-10">
                        <strong>Directions</strong>
                        <hr>
                        <div class="direction-items sortable-list">
                            <div class="sortable-item direction-item">
                                <div class="row">
                                    <div class="item-content col-sm-11">
                                        <div class="wrap">
                                            <div class="step-num"><strong><i>1</i></strong></div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="add-photo-box no-photo">
                                                        <img src="" class="img-rounded display-img">
                                                        <img src="../public/images/ic_camera_128px.png" class="img-rounded icon-camera">
                                                        <div class="add-photo-btn btn btn-primary">Add a photo</div>
                                                        <div class="change-photo-btn"><i class="fa fa-refresh" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="delete-photo-btn"><i class="fa fa-trash" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 direction-content">
                                                    <textarea class="form-control" title="instruction" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 sortable-btns">
                                        <div class="sortable-btn drag-btn">
                                            <i class="fa fa-arrows" aria-hidden="true"></i>
                                        </div>
                                        <div class="sortable-btn delete-btn">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                        <div class="sortable-btn add-btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row tags">
                    <div class="col-sm-offset-1 col-sm-9 row">
                        <strong>Tags</strong>
                        <hr>
                        <div class="tagsinput-primary">
                            <input title="tags" name="tagsinput" class="tagsinput" data-role="tagsinput" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="upload-image-modal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="imageModalLabel">Add a photo</h5>
                </div>
                <div class="modal-body">
                    <div class="drag-drop-box no-photo">
                        <div class="drag-block"></div>
                        <img class="icon-camera img-responsive" src="../public/images/ic_camera_240px.png">
                        <img class="display-img img-responsive" src="">
                        <strong class="drag-label">Drag here</strong>
                        <input type="file" class="file-box">
                        <div class="float-bar">
                            <strong>Choose a photo</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary confirm-btn">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="display-image-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-body">
                    <img class="img-responsive" src="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" id="confirm-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Confirmation</h6>
                </div>
                <p class="confirm-content text-center">Are you sure to remove this?</p>
                <div class="modal-footer center-block">
                    <button type="button" class="btn btn-default" id="modal-btn-no">No</button>
                    <button type="button" class="btn btn-primary" id="modal-btn-yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    "use strict";
    +(function($, window, document, undefined){
        if(window.innerWidth>=768){
            $('.create-left-bar').css({
                'border-right': '1px solid black',
                'height': document.documentElement.clientHeight+'px',
                'position': 'fixed'
            });
        }
        var $addPhotoModal = $('#upload-image-modal');
        $('.create-form-body .directions .direction-items.sortable-list').each(function () {
            var $itemlist = $(this),
                $items = $itemlist.find('.direction-item');
            $items.each(function () {
                var $item = $(this),
                    $photobox = $item.find('.add-photo-box'),
                    $content = $item.find('.direction-content'),
                    itemheight = $content.height(),
                    $stepnum = $item.find('.step-num strong i');
                $photobox.css('height', itemheight+'px');
            });
            $itemlist.on('itemAdded', function (e, $item) {
                console.log('added');
                $item.find('.add-photo-box').initAddPhotoBox();
            });
        });
    })(jQuery, window, document);
</script>
<!--Loading js files-->
<script src="../js/addPhotoBox.js" type="text/javascript"></script>
<script src="../js/dragDropImg.js" type="text/javascript"></script>
<script src="../js/sortableListView.js" type="text/javascript"></script>
</html>