<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
<form action="recipe-plan-payment" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4T9D5GACMHAJY">
    <table>
        <tr><td><input type="hidden" name="on0" value="Recipe Plans">Recipe Plans</td></tr><tr><td><select name="os0">
        <option value="week-plan">Week Plan $5.00 AUD</option>
        <option value="Month-plan">Month Plan $20.00 AUD</option>
        <option value="three-month-plan">Three-month Plan $55.00 AUD</option>
        <option value="six-month-plan">Six-month Plan $100.00 AUD</option>
        <option value="year-plan">Year Plan $180.00 AUD</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="AUD">
    <input type="image" src="https://www.sandbox.paypal.com/en_AU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>
</body>
</html>