<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{# Loading general css files #}
<link rel="stylesheet" type="text/css" href="/cooking_world/public/asset/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/cooking_world/public/css/myvariables.css">
<link rel="stylesheet" href="/cooking_world/public/asset/font-awesome/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="/cooking_world/public/asset/font-awesome/css/font-awesome.min.css">-->
<link rel="stylesheet" type="text/css" href="/cooking_world/public/asset/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/cooking_world/public/asset/css/flat-ui.css">
<link rel="stylesheet" type="text/css" href="/cooking_world/public/css/style.css">
{# Loading general js files #}
<script src="/cooking_world/public/asset/js/jquery-3.2.1.js"></script>
<script src="/cooking_world/public/asset/js/bootstrap.min.js"></script>
<script src="/cooking_world/public/asset/js/flat-ui.js"></script>
